export(Create.newBioThemeFinder.ORA)
export(Create.newBioThemeFinder.ORAwithFC)
export(Create.newBioThemeFinder.GSEA)
export(MultiDBanalysis)
export(parse.clusterProfiler.result)
export(GenerateDupMat)
export(MatrixClustering)
export(NetworkClustering)
export(PlotNetwork)
export(PathwayHeatmap)
export(PathwayStatsPlot)
export(RemoveTerms)
export(ExtractGenes)
export(resultDF)
import(dplyr)
import(tibble)
import(ggplot2)
import(stringr)
import(igraph)
import(ggraph)
